.contant {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  ;
}

.prox,
.avan {
  background-color: var(--secundary);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background-color: var(--primary);
  }
}

.avan {
  svg {
    transform: rotate(180deg);
  }
}